.zaglavlje img {
    display: block;
}

body {
    margin: 0;
}

.zaglavlje {
    display: flex;
}

.zaglavlje img {
    height: 70px;    
}

.navigacija {
    margin-left: auto;
    padding-right: 30px;
    border: 1px black solid;
}

.navigacija li {
    border: 1px solid gray;
}