.zaglavlje img {
    display: block;
}

body {
    margin: 0;
}

html, body {
    height: 100%;
}

.naslovnica {
    height: 50%;
    background: url("./images/Mask\ Group\ 2.png");
}

.zaglavlje {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zaglavlje img {
    height: 70px;
}

.navigacija {
    height: 20px;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
}

.navigacija li {
    list-style: none;
    color: white;
    font-size: 18px;
    text-shadow: 3px 2px 1px #000000;
    margin: 0 12px;   
}

.navigacija li:hover {
    background-color: rgba(150, 150, 150, 0.2);
    cursor: pointer;
    border-bottom: white 2px solid;
}
